* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

header {
    padding: 10px;
    text-align: center;
   background-color: rgba(64, 9, 66, 0.3) ;
    color: #090909;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

   
nav {
    display: flex;
    background-color: #13293d;
    margin: 0 auto;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

nav ul li,
section ul li  {
    list-style: none;
}


a {
    color: #f6f8fa;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}


main {
    display: flex;
    flex-wrap: wrap;
    padding-top: 150px;
}

aside {
    flex: 1;
    background-color: #b9c6ae;
    padding: 80px;
    text-align: center;
}
h3 {
    text-align: center;
    background: #13293d;
    color: #fff;
}
footer {
    padding: 0px;
    text-align: center;
    background: #13293d;
    color: #fff;
    
}

.resize {
    width: 400px;
    height: 400px;
}


.projects {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
}

.projects header {
    padding: 20px;
}

.projects p {
    text-align: center;
}

.projects img {
    width: 100%;
}
#email::before {
    content: ':envelope:';
    size: 20px;
}
#contact-info {
    display: block;
}
#my-projects {
    flex: 4;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 768px) {

    main,
    nav {
        flex-direction: column;
    }
}
@media screen and (max-width: 576px) {

    main,
    nav {
        flex-direction: column;
    }
}