* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body {
    font-family: Arial;
    margin: 0;
}

header {
    padding: 40px;
    text-align: center;
    background: #093b50;
    color: #fff;
}

footer {
    padding: 10px;
    text-align: center;
    background: #093b50;
    color: #fff;

}
nav {
    text-align: center;
    text-decoration: none;
    background-color: grey;
}

a {
    text-decoration: none;
    text-align: inline;
}

.resize {
    width: 200px;
    height: 200px;
    text-align: center;
    flex-wrap: wrap;
}

.navigation {
    color: rgb(57, 57, 183);
}

.sections {
    flex: 2;
    background-color: #ffffff36;
    /* padding: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects {
    border-style: groove;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 500px;
}

.projects header {
    padding: 20px;
}

.projects p {
    text-align: center;
}

.projects img {
    width: 100%;
}

#contact-info,
#email {
    text-align: center;


}

@media screen and (max-width: 768px) {

    main,
    nav {
        flex-direction: column;
    }
}